<app-my-header></app-my-header>
<div class="row g-0">
    <div class="col-2">
        <app-my-sidebar></app-my-sidebar>
    </div>
    <div class="col-10 p-5 bg-success">
        <app-studens-page></app-studens-page>    
    </div>
</div>




<!--
<h1>Hola carmen</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et earum eaque, sint inventore, repudiandae amet animi dignissimos, voluptate nesciunt ex aspernatur suscipit quod in. Omnis at doloribus aperiam excepturi laborum?</p>


<button  (click)="sumar()">Sumar!</button>
<button  (click)="saludar()">Saludar!</button>
-->

